body{
    background: #f7f7f7;
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
}

.photo{
    border-radius: 50%;
    border: 5px solid #505050;
}

#title, .subtitle, .post_title{
    color: #505050;
} 

#title{
    font-size: 40px;
    text-transform: uppercase;
}

a{
    text-decoration: line-through;
    color: #505050;
}

.post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post{
    background: white;
    padding: 15px;
    /*padding: 10px 20px 40px 0;*/
    border: 3px solid #505050;
    /*border-radius: 25% 50%;*/
    margin-bottom: 15px;
    border-radius: 10px;
}

.post_content{
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}

.post_image{
    margin-bottom: 15px;
    width: 100%;
}

.contacts_list{
    list-style-type: none;
    margin: 0;
    padding-left: 15px;
}

.contacts_list li a{
    text-decoration: none;
}